.cardDiv{
    position:relative;
    top:0px;
    left:0px;
    width: 294px;
    height: 261px;
    background: #fff;
    box-shadow: 0px 100px 80px rgba(153, 165, 236, 0.05), 0px 64.8148px 46.8519px rgba(153, 165, 236, 0.037963), 0px 38.5185px 25.4815px rgba(153, 165, 236, 0.0303704), 0px 20px 13px rgba(153, 165, 236, 0.025), 0px 8.14815px 6.51852px rgba(153, 165, 236, 0.0196296), 0px 1.85185px 3.14815px rgba(153, 165, 236, 0.012037);
    border-radius: 25px;
}
.cardImg {
    width: 268.19px;
    height: 170.38px;
    margin: 16.62px auto 0 auto;
    border-radius: 20px;
}
.cardTitle {
    width: 163px;
    height: 20px;

    font-family: Alef;
    font-style: normal;
    font-weight: bold;
    font-size: 15.7759px;
    line-height: 127.7%;

    margin-left: 14px;
    margin-top: 13px;
    margin-bottom: 0px;

    color: #353646;
}

.cardDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 6.25px;
}

@font-face {
    font-family: Alef;
    src: url("../font/Alef-Regular.ttf");
}

.cardDetails > span:first-of-type > span {
    font-family: Alef;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 127.7%;

    color: #353646;

    opacity: 0.4;
}

.cardDetails > span:last-of-type {


    font-family: Alef;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 127.7%;

    color: #34a59f;


}