.CardsList {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    justify-content: space-between;
    /* height: 80%; */
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.CardsList::-webkit-scrollbar {
    display: none;
}

.CardsList > * {
    margin-top: 30px;
}